.wrapper {
  margin: 0 auto;
}

.wrapper details {
  transition: 0.5s;
  background-color: cadetblue;
}

.wrapper details[open] {
  background-color: cadetblue;
}

.wrapper summary::-webkit-details-marker {
  display: none;
  outline: none;
}

.wrapper summary:active {
  background-color: cadetblue;
}

.wrapper summary:hover {
  cursor: pointer;
  background-color: #efefef;
}
